@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.home {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section_direita {
    display: flex;
    flex-direction: column;
   
}

.section_esquerda {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.boneco {
    width: 40%;
    height: 80%;
    margin-left: 45vh;
    margin-top: 20%;
}

.botao_linkedin {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 0.1rem;
    padding: 0.8rem;
    border: 1px solid rgba(0, 74, 173, 1);
    border-radius: 0.8rem;
    background-color: white;
    width: 15%;
    margin-left: 59vh;
}
.botao_responsivo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 0.1rem;
    padding: 0.8rem;
    border: 1px solid rgba(0, 74, 173, 1);
    border-radius: 0.8rem;
    background-color: white;
    width: 15%;
    
}

.botao_linkedin:hover {
    color: white;
    background-color: rgba(0, 74, 173, 0.8);   
}

.botao_linkedin_responsivo {
    display: none;
}

.section_esquerda p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    color: white;
    margin-left: 150px;
}

.ola {
    margin-left: 10vh;
}

.nome {
    font-family: 'Noto Sans Adlam', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 15px;
    color: wheat;
    margin-left: 150px;
    margin-top: 5px;
}
.paragrafo {
    width: 100%;
}


@media (max-width: 1350px){
    .nome {
        font-size: 2.5rem;
    }
}

@media (max-width: 1200px) {
    .nome {
        font-size: 2.2rem;
    }
    .botao_linkedin {
        margin-left: 55vh;
    }
}

@media (max-width: 890px) {
    .section_esquerda p, .nome {
        margin-left: 100px;
    }

    .section_direita {
        display: none;
    }

    .section_esquerda {
        margin-top: 2%;
    }
    .section_esquerda p {
        font-size: 1.6rem;
        flex-wrap: wrap;
    }
    .home {
       align-items: center;
       justify-content: center;
        
    }
    .botao_linkedin_responsivo {
        display: flex;
        margin-top: 5%;
        margin-left: 18%;
        
    }
    .botao_responsivo {
        font-size: 1rem;
        color: #fff;
        border: 1px solid #fff;
        background-color: rgba(0, 74, 173, 1);
    }
    .botao_responsivo:hover {
        color: rgba(0, 74, 173, 1);
        background-color: #fff;
        border: rgba(0, 74, 173, 0.8);
    }
    .responsivos_botoes {
        display: flex;
    }

}

@media (max-width: 633px) {
    .section_esquerda p {
        font-size: 1.3rem;
    }
    .botao_responsivo {
        font-size: 0.8rem;
        margin-left: 21%;
    }
}


