.background_skills {
    background-image: url(../imagens/skill-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}

.section_logos {
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logotipos_skills {
    width: 130px;
    height: 130px;
}