.sobre {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #DFE3E5;
}
.sobre_img {
    width: 450px;
    
}

.sobre_textos {
    width: 50%;
}

.sobre_titulo {
    font-family: 'Noto Sans Adlam', sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    color: #4F4C4C;;
}

.sobre_texto {
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    width: 90%;
}

.sobre_links {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}