@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.background_sobre {
    height: 100vh;
    background-image: url(../imagens/background-2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}

.sobre {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre_img {
    width: 450px;
    transition: ease 1.5s;
}

.sobre_img:hover {
    width: 480px;
}

.sobre_img_responsivo {
    width: 350px;
    transition: ease 1.5s;
    display: none;
}

.sobre_img_resposivo:hover {
    width: 380px;
}

.sobre_textos {
    width: 50%;
    margin-left: 60px;
}

.sobre_titulo {
    font-family: 'Noto Sans Adlam', sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    color: #4F4C4C;;
}

.sobre_texto {
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    width: 90%;
}

.sobre_links {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.sobre_links:hover {
    border-bottom: 1px solid #004AAD;
}
.sobre_links2 {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 890px) {
    .background_sobre {
        background-image: none;
        background-color: rgba(0, 74, 173, 1);;
    }
    .sobre_img {
        display: none;
    }
    .sobre_titulo {
        color: #fff;
        text-transform: uppercase;
    }

    .sobre_texto {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding: 5px;
        text-align: justify;
        width: 100%;
        color: #fff;
    }

    .links_responsivo {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .sobre_links {
        display: none;
    }
    .sobre_links2 {
        display: flex;
    }
    .sobre_links2:hover {
        border-bottom: 1px solid #fff;
    }

    .sobre_img_responsivo{
        display: flex;
        margin-bottom: 100px;
    }

    .sobre_img_responsivo:hover {
        width: 380px;
    }

    .img_resp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_textos {
        width: 70%;
        margin-left: 30px;
    } 
}